@import "tailwindcss";

body {
    font-family: 'Helvetica';
    height: 100vh;
    background: linear-gradient(to bottom, #8AB4BE 42%, #F0F3F0 100%);
    background: linear-gradient(to bottom, #8AB4BE 0%, #F0F3F0 92%);
    color: #526E78;
    overflow-y: hidden;
}
